body {
  margin: 0;
  padding: 0;
  font-family: "Raleway", sans-serif;
}

/* Student profiles component */

.student-profiles {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 100vw;
  overflow-x: hidden;
  margin: 0 auto;
}

.profile-search-box,
.tag-search-box {
  border: none;
  border-bottom: 1px solid #000;
  width: 100vw;
  font-family: "Raleway", sans-serif;
  font-size: 1.2rem;
  padding: 0.5em;
}

/* Profile component */

.profile {
  width: 100vw;
  display: grid;
  grid-template-columns: 40% 40% 20%;
  /* place-items: center; */
  border-bottom: 0.1px solid rgb(187, 184, 184);
  margin: 1em 0;
}

.profile-img-container {
  margin: 0 auto;
}

.profile-img {
  border: 0.1px solid rgb(97, 96, 96);
  border-radius: 50%;
  width: 10em;
  height: 10em;
  object-fit: contain;
}

.profile-name {
  font-size: 2.2rem;
}

.profile-info {
  list-style-type: none;
}

.profile-info li {
  word-wrap: break-word;
}

.test-grades-btn {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

.test-grades-list {
  list-style-type: none;
}

.test-grade {
  margin-left: 1em;
}

.profile-tag-input {
  border: none;
  border-bottom: 1px solid #000;
  width: 100%;
  font-family: "Raleway", sans-serif;
  font-size: 1.2rem;
  padding: 0.5em;
}

.tag {
  display: inline-block;
  padding: 0.2em;
  background: lightgray;
  width: 25%;
  text-align: center;
  margin: 0.2em;
  border-radius: 15%;
}

/* @media (min-width: 600px) {
} */
